@import url("https://fonts.cdnfonts.com/css/futura-lt");
@import "tailwindcss";

@theme {
  --color-primary: #365150;
  --color-secondary: #f9f5f3;
  --color-brown: #40251b;
}

body {
  font-family: "Futura LT", sans-serif;
}
